<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>{{ username }}</title>
	<link href="{% static 'css/sign.css' %}" rel="stylesheet">
</head>
<body style="background-color: rgba(2, 1, 3, 0.8)">
	<div class="dash">
		<h2 class="left">Welcome, {{ username }}!</h2>
		<br>
		<form id="logout" method="POST" action="{% url 'homepage' %}">
			{% csrf_token %}
			<button type="submit">Logout</button>
		</form>
	</div>
</body>
</html>