{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link href="{% static 'css/sign.css' %}" rel="stylesheet">
	<title>Welcome!</title>
</head>
<body style="background-color: black">
	<div class="welcome">
		<header>
			<h1>WELCOME</h1>
		</header>
		<section>
			<a href="{% url 'signup' %}" class="but">Register</a>
			<a href="{% url 'signin' %}" class="but">Sign In</a>
		</section>
	</div>
</body>
</html>