{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
	<link href="{% static 'css/sign.css' %}" rel="stylesheet">
</head>
<body class="blue">
	<div class="box up">
		<p class="center red">{{ response }}</p>
		<div class="fill">
			<form id="signup" method="POST" action="{% url 'signup' %}">
				{% csrf_token %}
				<label>First name</label> {{ form.first }}
				<br>
				<label>Last name</label> {{ form.last }}
				<br>
				<label>Username</label> {{ form.username }}
				<br>
				<label>Email</label> {{ form.email }}
				<br>
				<label>Password</label> {{ form.password }}
				<br>
				<label>Confirm Password</label> {{ form.confirm }}
				<br>
				<button type="Submit" class="btn center">Sign up</button>
			</form>
			<a href="{% url 'signin' %}" class="center">Have an account already?</a>
		</div>
	</div>
</body>
</html>